*{
    margin:0px;
    padding:0px;
    
    
}

#menu-superior{
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color:#303030;
    width: 100%;
    height: 400px;
   
   
   
  
   
  

}
#titulo-menu-superior{
    color:white;
    font-family: 'Inter';
    font-size: 55px;
    padding-left: 50px;
   
    
   
    
}
#paragrafo-menu-superior {
    color:white;
    font-family: 'inter';
    font-size:20px;
    margin-top: 25px;
    padding-left: 50px;
    
}
.imagens{
    
    align-items: center;
    margin:100px 80px;

    background-color:#F9F9F9;
}
  
  
section {
    display: flex;
    flex-direction:row;
    align-items: center;


    font-family: 'inter';
   
    
}

section h1{
  
  font-weight: 500;
  font-size: 40px;
  font-weight: bolder;
  align-items: center;
  padding-bottom: 45px;
  padding-left: 65px;
 

}

#paragrafo-secao{
  font-family: 'inter';
  font-weight:300;
  font-size: 24px;
  padding-left: 65px;
  color:#303030;


}

#imagem-secao{
    height:605px;
    border-radius: 30px;
    padding-left: 100px;
   
}

form{
    height:500px;
    margin-top: 147px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#303030;
   
}

form h2{
    font-weight: 700;
    font-size: 32px;
    color:#ffffff;
    font-family: 'inter';
    
    
}

form input{
    height: 72px;
    width: 508px;
    border-radius: 10px;
    border:0px;
    

    
}
form input::placeholder{
    color: #0000004d;
    font-size:24px;
    font-weight: 700;
    padding-left:25px;

    font-family: 'raleway';
    font-weight: bolder;
    

}

form button{
    width: 286px;
    height: 74px;
    border-radius: 10px;
    border:0px;
    font-family: 'raleway';
    font-size: 30px;
    cursor:pointer;

    background-color:#c07212;
    color:white;

    box-shadow: 0px 15px 20px #121111;

}

button:hover{
    transform: translateY(-7px);
    transition-duration: 0,5s ;
}
    


